//font-family
$font-title: 'DM Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
$font-main: 'Lato', 'Trebuchet MS', Arial, Helvetica, sans-serif;
$font-recipes: 'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;
