html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
}

input {
    border: none;
    border-radius: 5px;
    &:focus,
    &:hover {
      outline: none;
    }
  }
  
  button {
    border: none;
    border-radius: 5px;
    color: inherit;
    background-color: inherit;
    &:focus,
    &:hover {
      outline: none;
    }
  }