.header {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
	&__main{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
color: $color-title;
&:hover, &:focus {
	outline: none;
	transform: scale(1.05);
	transition: transfrom 2000ms ease-in-out;
  }
	}
	&__logo{
	width: 51px;
	height: 47px;
	}
	&__title{
		font-family: $font-title;
		font-size: 2.25rem;
		margin: 0;
	}
}