
// Colors
$color-background: #E7E7E7;
$color-ingredients: #3282F7;
$color-appliances: #68D9A4;
$color-ustensils: #ED6454;
$color-title : #D04F4F;

//font-family
$font-title: 'DM Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
$font-main: 'Lato', 'Trebuchet MS', Arial, Helvetica, sans-serif;
$font-recipes: 'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;