@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

input {
  border: none;
  border-radius: 5px;
}

input:focus, input:hover {
  outline: none;
}

button {
  border: none;
  border-radius: 5px;
  color: inherit;
  background-color: inherit;
}

button:focus, button:hover {
  outline: none;
}

.hidden {
  display: none;
}

[data-category="ingredients"] {
  background-color: #3282F7;
  color: white;
}

[data-category="ustensils"] {
  background-color: #68D9A4;
  color: white;
}

[data-category="appliances"] {
  background-color: #ED6454;
  color: white;
}

.search {
  margin-bottom: 1.25rem;
}

.search__input {
  width: 100%;
  height: 4rem;
  background-color: #E7E7E7;
  color: black;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 1.3rem;
  padding-right: 3rem;
}

.search__icon {
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
  height: 2rem;
  float: right;
  margin-right: 20px;
}

.header {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.tag {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.tag__button {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.625rem 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-bottom: 0.5rem;
}

.tag__button:focus, .tag__button:hover {
  -webkit-text-decoration: underline solid white;
          text-decoration: underline solid white;
}

.tag__button:focus::after, .tag__button:hover::after {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.tag__button::after {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  content: "";
  background: url("./img/icons/close.svg") no-repeat 0 0;
  background-size: 100%;
  margin-left: 0.75rem;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.searchedtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchedtag__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-bottom: 1.5rem;
}

.searchedtag__input {
  width: 170px;
  height: 69px;
  font-weight: 700;
  font-size: 18px;
  padding: 0 22.5px 0 16.2px;
}

.searchedtag__icon {
  height: auto;
  width: 1rem;
  top: 0;
  right: 1.125rem;
  margin-right: 10px;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  z-index: 10;
}

.searchedtag__icon__image {
  width: 100%;
}

.searchedtag__icon--opened img {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.searchedtag ::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.searchedtag :-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.searchedtag ::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.searchedtag ::placeholder {
  color: white;
  opacity: 1;
}

.returnPage {
  padding: 3rem;
  font-size: 2.5rem;
}
/*# sourceMappingURL=import.css.map */