@use "../abstracts" as *;
@use "../base" as *;
@use "../base/base" as *;

.dropdown {
  display: flex;
  margin-bottom: 1rem;
  z-index: 10;
  &__main{
    margin-right: 2rem;
  }
  &__input {
    border: none;
    height: 4.3rem;
    width: 9.6rem;
    font-size: 18px;
    font-weight: 700;
    padding: 0 22px 0 16px;
    color: white;
    background-color:inherit;
    &::placeholder {
      color: white;
    }
  }
  &__button {
  display: flex;
  justify-content: center;
  align-items: center;
  &--ingredients {
    background-color: $color-ingredients;
  }
  &--appliances {
    background-color: $color-appliances;
  }
  &--ustensils {
    background-color: $color-ustensils;
  }
  }
  &__icon {
    color: white;
    cursor: pointer;
    font-size: 1.15rem;
    margin-right: 1rem;
  }

  .form {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    overflow: hidden;
    
    &__label {
      display: none;
      font-size: 1.15rem;
      color: white;
      padding: 1rem 1rem 1rem 0;
    }
    &__input {
      display: flex;
      justify-content: space-between;
      font-size: 1.15rem;
      width: 100%;
      color: white;
      height: 4.3rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      &--ingredients {
        background-color: $color-ingredients;
      }
      &--appliances {
        background-color: $color-appliances;
      }
      &--ustensils {
        background-color: $color-ustensils;
      }
      &::placeholder {
        color: white;
        opacity: 50%;
        // width: 14rem;
      }
    }
    &__arrow {
      color: white;
      cursor: pointer;
      border-radius: 0;
      border-top-right-radius: 5px;
      height: 4.3rem;
      font-size: 1.15rem;
      &--ingredients {
        background-color: $color-ingredients;
      }
      &--appliances {
        background-color: $color-appliances;
      }
      &--ustensils {
        background-color: $color-ustensils;
      }
      &__chevron-up{
        margin-right: 2rem;
      }
    }
  }
  &__menu {
    display: none;
    pointer-events: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border-radius: 5px;
    padding: 0 0 10px 10px;
    // max-width: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
    &--ingredients {
      background-color: $color-ingredients;
      color: white;
    }
    &--appliances {
      background-color: $color-appliances;
      color: white;
    } &--ustensils {
      background-color: $color-ustensils;
      color: white;
    }
    &__items {
      pointer-events: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.15rem;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

@media (max-width:1200px) {
.dropdown{
  justify-content: center;
  &__menu{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}
.allRecipesCards{
  justify-content: space-evenly;
}
}


@media (max-width:800px) {
  .dropdown{
    justify-content: center;
    &__menu{
      grid-template-columns: repeat(1, 1fr);
      column-gap: 10px;
    }
  }
  }

  @media (max-width:759px) {
    html{
      padding: 0 2rem 0 2rem;
    }
.dropdown{
  flex-direction: column;
  &__menu{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
 &__main{
   margin-right: 0;
 }
  &__button{
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;
  }
}
.allRecipesCards{
  margin-top: 15rem;
  padding: 0 2rem 0 0;
}
.card{
  max-width: 100%;
}
  }