@use "../abstracts/colors" as *;
@use "../base/typography" as *;
@use "../abstracts/reset" as *;
@use "../base/base" as *;

.dropdown {
  display: flex;
  margin-bottom: 1rem;
  &__input {
    border: none;
    height: 4.3rem;
    width: 10.6rem;
    font-size: 18px;
    font-weight: 700;
    padding: 0 22px 0 16px;
    &--ingredients {
      background-color: $color-ingredients;
    }
    &--appliances {
      background-color: $color-appliances;
    }
    &--ustensils {
      background-color: $color-ustensils;
    }
    &::placeholder {
      color: white;
    }
  }
  &__icon {
    transform: translateX(-35px);
  }
  &__img {
    color: white;
    cursor: pointer;
    font-size: 1.15rem;
  }

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__label {
      display: none;
      font-size: 1.15rem;
      color: white;
      padding: 1rem 1rem 1rem 0;
    }
    &__input {
      font-size: 1.15rem;
      padding: 0 41.66rem 0 0;
      &--ingredients {
        background-color: $color-ingredients;
      }
      &--appliances {
        background-color: $color-appliances;
      }
      &--ustensils {
        background-color: $color-ustensils;
      }
      &::placeholder {
        color: white;
        opacity: 50%;
        width: 14rem;
      }
    }
    &__arrow {
      transform: translateX(-30px);
      color: white;
      cursor: pointer;
    }
  }
  &__menu {
    display: flex;
  }
}
